################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OWINAzure/bin
/.vs
/OWINAzure/obj/Debug
/OWINAzure/Properties/PublishProfiles
/OWINAzure/Metadata/deploymentTemplates
